<!DOCTYPE html>
{% load static %}
<!-- <script src="{% static 'aframe.min.js' %}"></script> -->
<head>
<script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
<!-- include aframe-ar.js -->
<!-- <script src="{% static 'aframe-ar.js' %}"></script> -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.2/aframe/build/aframe-ar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script type="text/javascript">

  // Create a client instance
  client = new Paho.MQTT.Client("m16.cloudmqtt.com", 34052,"web_" + parseInt(Math.random() * 100, 10));
  //Example client = new Paho.MQTT.Client("m11.cloudmqtt.com", 32903, "web_" + parseInt(Math.random() * 100, 10));

  // set callback handlers
  client.onConnectionLost = onConnectionLost;
  client.onMessageArrived = onMessageArrived;
  var options = {
    useSSL: true,
    userName: "dxqqppay",
    password: "tFrs_QzCDyxE",
    onSuccess:onConnect,
    onFailure:doFail
  }

  // connect the client
  client.connect(options);

  // called when the client connects
  function onConnect() {
    // Once a connection has been made, make a subscription and send a message.
    console.log("onConnect");
    client.subscribe("Reader_0");
    client.subscribe("Reader_0");
    client.subscribe("Reader_0");
    client.subscribe("Reader_0");
    client.subscribe("p3");
  console.log(client);
    message = new Paho.MQTT.Message("Hello CloudMQTT");
    message.destinationName = "p2";
    client.send(message);
  }

  function doFail(e){
    console.log(e);
  }

  // called when the client loses its connection
  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:"+responseObject.errorMessage);
    }
  }

  // called when a message arrives
  function onMessageArrived(message) {
    console.log(message)
    console.log("onMessageArrived:"+message.payloadString);
  }
</script>

</head>
<body style='margin : 0px; overflow: hidden; font-family: Monospace;'><div style='position: fixed; top: 10px; width:100%; text-align: center; z-index: 1;'>
  <a href="https://github.com/jeromeetienne/AR.js/" target="_blank">AR.js</a> 
  <br/>
  Contact me any time at <a href='https://github.com/gauravuttarkar' target='_blank'>@gaurav_uttarkar</a>
  <img id="fixed" src="https://cdn0.iconfinder.com/data/icons/round-arrows-1/134/small_left_blue-512.png">
</div>
  <!-- <a-scene embedded arjs='sourceType: image; sourceUrl:../../data/images/armchair.jpg;'> -->

  <a-scene embedded arjs='sourceType: webcam;' id="myCanvas">

  
    <!-- <a-plane position="0 0 0" rotation="-90 0 0" width="1" height="1" color="#7BC8A4"></a-plane> -->
  
         <a-image id="opener1" position="0 0 0" rotation="-90 0 0" width="1" height="1" src="https://cdn0.iconfinder.com/data/icons/round-arrows-1/134/small_left_blue-512.png"></a-image>


       <a-sphere  id="dialog1" position="0 0.5 0" radius="0.5" color="#EF2D5E"></a-sphere>
        
    <!-- <a-marker-camera preset='hiro'></a-marker-camera> -->
    <a-marker-camera type='pattern' url="{% static 'pattern-marker1.patt' %}"></a-marker-camera>
  </a-scene>

</body>
</html>